kibana:
  image: hbussell/docker-fluentd-kibana:latest
  ports:
   # Nginx http/https
   - 8004:80
   - 8044:443 # Nginx https
   # Elasticsearch http
   - 9200:9200
   # Elasticsearch transport
   - 9300:9300
   # Fluentd
   - 24224
  volumes:
  # Elasticsearch persistence
   - ./data:/data
  # Nginx, Fluentd, Elasticsearch
   - ./log:/var/log
  environment:
  # Used if you have an nginx proxypass server
   - VIRTUAL_HOST=kibana.mydocker.co
