#shipyard controller
shipyard:
  image: shipyard/shipyard:latest
  ports:
   - 8080:8080
  volumes:
   - /var/run/docker.sock:/docker.sock
  links:
   - rethinkdb
rethinkdb:
  image: shipyard/rethinkdb:latest
  volumes:
   - data:/data
#cli:
#  image: shipyard/shipyard-cli:latest
#  command: bash



