github-pages:
  build: .
  #ports:
  # - 4000:4000
  environment:
  # Used if you have an nginx proxypass server
   - VIRTUAL_HOST=githubpages.mydocker.co
   - USE_HTTP=1
  volumes:
  # Change to the desired directory
   - data:/usr/app/src
