kibana:
  image: ianblenke/kibana-nginx:latest
  ports:
   # Nginx http
   - 8005:80
  environment:
  # Used if you have an nginx proxypass server
   - VIRTUAL_HOST=kibana.mydocker.co
   - HOST=kibana.local
   - SCHEME=https
   - USERNAME=admin
   - PASSWORD=admin
   - ES_HOST=172.17.42.1
   - ES_PORT=9200
